{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block main %}
    <h1>Acount page</h1>
    <a href="{{path("user_logout")}}">Deconnecter</a>
{% endblock %}
