{% extends 'account/account.html.twig' %}

{% block title  "Page de Connexion" %}

{% block main_account %}
	<h4>Changement le Mot de passe</h4>
	<div class="register-form">
		{{form(form)}}
	</div>
{% endblock %}

