{% extends 'base.html.twig' %}


{% block title %}Inscription{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h1>Inscription</h1>
        {{form(RegisterForm)}}
{% endblock %}